.example-form {
  min-width: 50px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.container {
  padding: 12px;
  .head-container{
    text-align: center;
    color: grey;
    font-weight: 500;
    margin-top: 1rem;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}
.validationMessage {
  margin-top: 1.6rem;
}
.mat-column-Nombre,
.mat-column-IdCcms,
.mat-column-Cedula,
.mat-column-Puntuacion,
.mat-column-NombreConcurso,

.mat-column-IdConcurso,
.mat-column-LimiteParticipantes,
.mat-column-FechaRegistro,
.mat-column-Descripcion,
.mat-column-Fecha {
  padding-right: 24px;
  text-align: center;
}
footer{
  margin-top: 2.5rem;
  text-align: center;
}
