<div class="container">
  <div class="head-container">
    <p>Concursos</p>
  </div>
  <section>
    <table mat-table [dataSource]="concursos">
      <ng-container matColumnDef="NombreConcurso">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.NombreConcurso}}</small> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="LimiteParticipantes">
        <th mat-header-cell *matHeaderCellDef> Límite </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.LimiteParticipantes}}</small> </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FechaConcurso">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.FechaConcurso}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.Estado}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button *ngIf="!isAdmin" mat-icon-button color="primary" matTooltip="Incribirme"
            matTooltipPosition="after" [disabled]="isAdmin || element.Dias <= 3"
            (click)="inscripcion(element.IdConcurso)">
            <mat-icon>view_list</mat-icon>
          </button>
          <button *ngIf="isAdmin" mat-icon-button color="primary" matTooltip="Editar" matTooltipPosition="after"
            (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="concursosColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: concursosColumns;"></tr>
    </table>
  </section>
  <div class="head-container">
    <p>Rankings</p>
  </div>
  <section>
    <table mat-table [dataSource]="rankings">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.Nombre}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="IdCcms">
        <th mat-header-cell *matHeaderCellDef> Ccms </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.IdCcms}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="Puntuacion">
        <th mat-header-cell *matHeaderCellDef> Rank </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.Puntuacion}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="NombreConcurso">
        <th mat-header-cell *matHeaderCellDef> Concurso </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.NombreConcurso}}</small> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="rankingsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: rankingsColumns;"></tr>
    </table>
  </section>
  <div *ngIf="!isAdmin" class="head-container">
    <p>Mis incripciones</p>
  </div>
  <section *ngIf="!isAdmin">
    <table mat-table [dataSource]="concurso">

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.Nombre}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="IdCcms">
        <th mat-header-cell *matHeaderCellDef> Ccms </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.IdCcms}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="FechaConcurso">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.FechaConcurso}}</small> </td>
      </ng-container>

      <ng-container matColumnDef="NombreConcurso">
        <th mat-header-cell *matHeaderCellDef> Concurso </th>
        <td mat-cell *matCellDef="let element"> <small>{{element.NombreConcurso}}</small> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="concursoColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: concursoColumns;"></tr>
    </table>
  </section>
  <footer>
    Developed with ❤️ by {{developer}}
  </footer>
</div>
