:host {
  display: flex;
  justify-content: center;
  padding: 20rem 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
